* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f8f9fa;
}

main {
  min-height: 80vh;
  padding: 2rem;
}
.carousel-image {
  max-height: 300px;
  object-fit: cover;
}
